@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 20px;
}

.signout, .navbar-right {
  margin-right: 50px;
}

#bs-example-navbar-collapse-1, .container-fluid {
  background-color: #66ffb3;
}

.jumbotron {
  background-color: #ffffb3;
}

#header-text {
  color: #ff3333;
}

#tagline {
 padding-top: 20px; 
}

.text-center {
  padding-top: 70px;
}

.alert {
padding-top: 45px;
}

.btn-primary{
  margin-top: 3px;
}

#submit {
  margin-top: 5px;
}

.show-header, .listing-exercises {
  margin-top: 85px;
}

.pagination {
  margin-top: 1px;
}